*{
    margin: 0;
    padding: 0;
}
.background-image {
    background-image: url('../assets/logo.webp');
    background-repeat: no-repeat;
    width: 100vw;           
    height: 100vh;        
    background-size: contain; 
}

table {
  position: absolute;   /* cho phép đè lên */
  top: 350px;             
  right: 100px;            
  text-align: center;
  padding: 10px;
  width: 500px;
 
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif; /* font chữ */

}
table th, table td {
  padding: 10px 20px;
}
#dong_1{
    color: #AAA8A7;
    font-size: small;
}
#dong_2{
    color: #000000;
    font-size: 40px;
}
#dong_3{
    color: #F65D4E;
    font-size: 15px;
    
}

.dang-ky {
      background-color: white;   /* màu nền */
      color:#000000;               /* chữ màu trắng */
      padding: 10px 20px;         /* khoảng cách trong nút */
      border: none;               /* bỏ viền mặc định */
      border-radius: 20px;         /* bo góc */
      font-size: 20px;
      cursor: pointer;            /* đổi con trỏ khi hover */
      transition: 0.8s;           /* hiệu ứng mượt khi hover */
    }

    .dang-ky:hover {
      background-color: #000000;  /* đổi màu khi hover */
      color: white;
    }

    
