body {
    font-family: Arial, Helvetica, sans-serif;
}

.khung {
  background: white;
  padding: 30px;
  box-shadow: 0 0 5px #D5CDC8;
  width: 300px;
}

.khung h1 {
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 85%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.nut {
  width: 95%;
  padding: 13px;
  background: #F65D4F;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.nut:hover {
  background: #F4402F;
}

.links {
  margin-top: 15px;
  text-align: center;
}

.links a {
  display: block;
  margin: 5px 0;
  color: #C8C8C8;
  cursor: pointer;
}

.links a:hover {
  color: black;
}
.user-sellect {
    user-select: none; 
}