@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fdfdff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    padding: 30px 0;
    background-color:#4b4d75;
    color: #ffffff;
}

.header-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 250px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    background-color: #ffffff;
    padding: 10px 14px;
    border-radius: 60px;
    gap: 8px;
    flex: 1;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: 70;
    color: #ffffff;
}
.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    padding: 14px 20px;
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.nav-text {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover,
.nav-item.active {
    background-color: #000000;
    color: #ffffff;
    padding: 14px 24px 14px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav-item.active .nav-text {
    max-width: 120px;
    opacity: 1;
    margin-left: 8px;
}

.search-input {
    width: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #ffffff;
    opacity: 0;
    padding: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.nav-item.search-item:hover,
.nav-item.search-item:focus-within{
    background-color: #000000;
    color: #ffffff;
    padding: 14px 24px 14px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.nav-item.search-item:hover .nav-text,
.nav-item.search-item:focus-within .nav-text {
    display: none;
}

.nav-item.search-item:hover .search-input,
.nav-item.search-item:focus-within .search-input{
    width: 250px;
    opacity: 1;
    margin-left: 8px;
}

.cart-button {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.2s;
    flex-shrink: 0;
}


.cart-button i {
    font-size: 24px;
}

.badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #ff3b30;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.main-nav-lower {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.footer {
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    margin-top: auto;
}
.wraper{
    width: 80%;
    margin: 20px 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    list-style: none;
    padding: 10px 0;
}
.icon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.icon:hover {
    transform: translate(0, -5px);
}